@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Montserrat';
    background-color: rgb(255, 255, 255);
}
h1{
    padding-top: 10vh;
    color: rgb(0, 0, 0);
    margin-top: -2vh;
}

.title{
    display: flex;
    justify-content: center;
}

.ahorro, .gastos{
    display: flex;
    justify-content: center;
}


h2{
    font-size: 1.5rem;
    color: white;
    margin-top: 15vh;
}

h2:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}

a{
    
    text-decoration: none;
    color: white;
    padding: 14px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
}

a:hover{
    background-color: white;
    color: rgb(66, 197, 114);
}

span{
    color: rgb(66, 197, 114);
}
